<% include header.ejs%>
	<div class="main">
		<div class="about">
			<section class="all-alignment">
				<% include pice/about-list.ejs %>


			</section>
		</div>
		<% include stip.ejs %>
	</div>
	<% include footer.ejs%>
