<% include header.ejs%>
	<div class="main">
		<div class="about">
			<section class="all-alignment">
				<% include pice/about-list.ejs %>
				<!-- 公司简介 -->
				<div class='about-lead'>
					<h4>管理高层</h4>
					<ul class='about-lead-list'>
						<li>
							<a href="javascript:;">
								<img src="/img/zmds.jpg" alt="">
								<div class='lead-title'>
									<div>
										<h3>赵满</h3>
										<p>董事长</p>
									</div>
									<div>
										<i class="iconfont icon-gengduo"></i>
									</div>
								</div>
							</a>
							<div class='lead-info'>
								<h3>赵满</h3>
								<p>董事长</p>
								<p>
									山东滨州青年企业家协会常务副会长,山东滨州青年企业家协会常务副会长
								</p>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<% include footer.ejs%>
