<% include header.ejs%>
	<div class="main">
		<div class="about">
			<section class="all-alignment">
				<% include pice/about-list.ejs %>
				<!-- 公司简介 -->
				<div class='about-compony'>
					<img src="/img/logo.png" alt="">
					<p>宜创客·农商商城是由宜创客电子商务（北京）有限公司全资打造的农业电商平台。平台以农产品基地、农资服务两大实业板块。</p>
				</div>
			</section>
		</div>
	</div>
	<% include footer.ejs%>
