<% include header.ejs%>
	<div class="main">
		<div class="about">
			<section class="all-alignment about-compony">
				<div class="about-list">
					<ul>
						<li>
							<a href="javascript:;">公司简介</a>
						</li>
						<li>
							<a href="javascript:;">平台介绍</a>
						</li>
						<li>
							<a href="javascript:;">领导团队</a>
						</li>
						<li>
							<a href="javascript:;" class="active">加入我们</a>
						</li>
					</ul>
					<div class='about-list-seedemail'>
						<label for="">请投简历至:</label>
						<a href="javascript:;">xxxxx@xxx.com</a>
					</div>
				</div>

				<!-- 公司简介 -->
				<!-- <div class='about-conpony'>
			<img src="./img/about1.png" alt="">
			<p>宜创客·农商商城是由宜创客电子商务（北京）有限公司全资打造的农业电商平台。平台以农产品基地、农资服务两大实业板块。</p>
		</div> -->

				<!-- 加入我们 -->
				<div class='about-exam'>
					<h3>职位列表</h3>
					<div class="about-exam-head">
						<p>职位</p>
						<p>工作职位</p>
						<p>工作地点</p>
						<p>操作申请</p>
					</div>
					<div class="about-exam-select">
						<ul>
							<li>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">选择职位<span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">文案编辑</a></li>
										<li><a href="#">运营总监</a></li>
										<li><a href="#">IOS开发工程师</a></li>
										<li><a href="#">Java开发工程师</a></li>
									</ul>
								</div>
								<!-- <select class="" name="">
							<option value="">文案编辑</option>
						</select> -->
							</li>
							<li>文案</li>
							<li>北京-亦庄</li>
							<li><input type="button" class='sendexam' value="立即申请"></li>
						</ul>
					</div>
					<div class="about-exam-info">
						<!-- 这里后台富文本编辑前台解析 -->
						<div class="">
							<p class="about-exam-info-Resp">
								岗位职责
							</p>
							<ol>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
							</ol>
						</div>

						<div class="">
							<p class="about-exam-info-Resp">
								岗位职责
							</p>
							<ol>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
							</ol>
						</div>
						<div class="">
							<p class="about-exam-info-Resp">
								岗位职责
							</p>
							<ol>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
								<li>负责撰写宜创客官方网站文案及产品宣传文案</li>
							</ol>
						</div>
						<div><input type="button" class='sendexam' value="立即申请"></div>
					</div>
				</div>
			</section>
		</div>
		<% include stip.ejs %>
	</div>
	<% include footer.ejs%>
