<% include header.ejs%>

		<div class="main">
			<div class="contectus">
				<div class="all-alignment">
					<section class="contectus-img">
						<img src="./img/service.jpg" alt="">
					</section>
					<section class="contectus-w">
						<div class="contectus-w-t">
							<h4>联系方式</h4>
						</div>
						<div class="contectus-w-master">
							<div class="">
								<p>亿创客电子商务有限公司</p>
								<p>客服电话：400-65101093</p>
								<p>Email:ycknssc@163.com</p>
								<p>QQ:34721551948</p>
								<p>邮编：100176</p>
								<p>公司地址：北京市大兴区亦庄经济开发区西环南路26号院30号楼嘉捷企业汇A座705</p>
							</div>
							<div class="">
								<p>招商客服</p>
								<p>联系人：赵经理 </p>
								<p>招商电话：010-8722-0575</p>
								<p>Email：3373381242@qq.com</p>
								<p>QQ:3373381242</p>
								<p>邮编：100176</p>
							</div>
						</div>
					</section>
					<section class="contectus-map">
						<iframe src='/map' width="100%" height="535" frameborder="0" scrolling="no">
						</iframe>
					</section>
				</div>
			</div>
		</div>
<% include footer.ejs%>
