<footer class="ft">
	<section class="all-alignment">
		<div class="ft-links">
			<ul class="ft-links-list">
				<li>
					<label for="">关于我们</label>
					<ul class='ft-links-list-items'>
						<li><a href="">公司简介</a></li>
						<li><a href="">平台介绍</a></li>
						<li><a href="">领导团队</a></li>
						<li><a href="">加入我们</a></li>
					</ul>
				</li>
				<li>
					<label for="">招商加盟</label>
					<ul class='ft-links-list-items'>
						<li><a href="">招商简介</a></li>
						<li><a href="">招商政策</a></li>
						<li><a href="">招商服务</a></li>
					</ul>
				</li>
				<li>
					<label for="">项目展示</label>
					<ul class='ft-links-list-items'>
						<li><a href="">B2C</a></li>
						<li><a href="">B2B</a></li>
						<li><a href="">B2S</a></li>
					</ul>
				</li>
				<li>
					<label for="">新闻资讯</label>
					<ul class='ft-links-list-items'>
						<li><a href="">公司新闻</a></li>
						<li><a href="">政务动态</a></li>
						<li><a href="">行业资讯</a></li>
						<li><a href="">地方动态</a></li>
						<li><a href="">致富经验</a></li>
					</ul>
				</li>
				<li>
					<label for="">联系我们</label>
					<ul class='ft-links-list-items'>
						<li><a href="">办公地点</a></li>
						<li><a href="">商家联系</a></li>
						<li><a href="">客户联系</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="ft-contect">
			<p class='ft-contect-tel'>400-651-1093</p>
			<p class='ft-contect-time'>
				<span>周一到周五 9:00-17:00<span>(仅收市话费)</span><span>
				</p>
				<p class='ft-contect-title'><a href="">在线客服</a></p>
			</div>
		</section>
		<section class='all-alignment'>
			<h4>&copy 2016 宜创客电子商务(北京)有限公司 ycknss.com 版权所有 未经许可 不得转载 京ICP备16065571号</h4>
		</section>
	</footer>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<% include js/share.js.ejs %>
</body>
</html>
