<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>
		<%= title %>
	</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<!-- seo -->
	<meta name="keywords" content="亿创客">
	<meta name="description" content="简介">

	<link href="/lib/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/iconfont.css' />
	<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class='container-fluid'>
		<header class="hd">
			<div class='hd-inc'>
				<div class='hd-inc-stips all-alignment'>
					<span class="hd-inc-stips-compony">欢迎您来到亿创客电子商务(北京)有限公司</span><span class='hd-inc-stips-tel yckicon'>401-651-1093</span>
				</div>
			</div>
			<div class="hd-sider-bar">
				<div class="all-alignment menu">
					<div class="menu-logo">
						<div>
							<img src="/img/logo.png" alt="">
						</div>
					</div>
					<div class="menu-list">
						<ul id="lava">
							<li class='menu-list-item current'>
								<a href="/">
									<p>首页</p>
									<p>Home</p>
								</a>
							</li>
							<li class='menu-list-item '>
								<a href="/about">
									<p>关于我们</p>
									<p>About us</p>
								</a>
							</li>
							<li class='menu-list-item '>
								<a href="/joinus">
									<p>招商加盟</p>
									<p>Join</p>
								</a>
							</li>
							<li class='menu-list-item '>
								<a href="/project">
									<p>项目展示</p>
									<p>Project</p>
								</a>
							</li>
							<li class='menu-list-item '>
								<a href="/newslist">
									<p>新闻资讯</p>
									<p>News</p>
								</a>
							</li>
							<li class='menu-list-item'>
								<a href="/contectus">
									<p>联系我们</p>
									<p>Contect us</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
