<% include header.ejs%>
	<div class="main">
		<div id="yck_carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#yck_carousel" data-slide-to="0" class="active"></li>
				<li data-target="#yck_carousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="/img/1.png" alt="...">
					<div class="carousel-caption">
					</div>
				</div>
				<div class="item">
					<img src="/img/1.png" alt="...">
					<div class="carousel-caption">
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#yck_carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">上一张</span>
			</a>
			<a class="right carousel-control" href="#yck_carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">下一张</span>
			</a>
		</div>

		<div class="mv">
			<div class="all-alignment">
				<iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
			</div>
		</div>

		<div class="news">
			<div class="all-alignment">
				<section class="news-list">
					<div class="news-list-latest">
						<p class='news-logo'>
							<img src="./img/gsxw.jpg" alt="">
							<a href="javascript:;">公司新闻</a>
						</p>
						<a class="">10月12日，由亿创客电子商务（北京）有限公司（以下简称：亿创…</a>
					</div>
					<ul>
						<li>
							<a href="javascript:;">
								<span>10月12日，由亿创客电子商....</span><span>2016-10-21</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span>10月12日，由亿创客....</span><span>2016-10-21</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span>10月12日，由亿创客....</span><span>2016-10-21</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span>10月12日，由亿创客....</span><span>2016-10-21</span>
							</a>
						</li>
					</ul>
				</section>
				<section class="news-list">
					<div class="news-list-latest">
						<p class='news-logo'>
							<img src="./img/zwdt.jpg" alt="">
							<a href="javascript:;">政务动态</a>
						</p>
						<a class="">10月12日，由亿创客电子商务（北京）有限公司（以下简称：亿创客）…</a>
					</div>
					<ul>
						<li>
							<a href="javascript:;">
								<span>10月12日，由亿创客电子商务....</span><span>2016-10-21</span>
							</a>
						</li>
					</ul>
				</section>
				<section class="news-list">
					<div class="news-list-latest">
						<p class='news-logo'>
							<img src="./img/hyzx.jpg" alt="">
							<a href="javascript:;">行业咨询</a>
						</p>
						<a class="">10月12日，由亿创客电子商务（北京）有限公司（以下简称：亿创客）主办…</a>
					</div>
					<ul>
						<li>
							<a href="javascript:;">
								<span>10月12日，由亿创客电子商务....</span><span>2016-10-21</span>
							</a>
						</li>
					</ul>
				</section>

			</div>
		</div>
		<div class="friends">
			<div class="all-alignment">
				<section class="friends-w">
					<h2>战略合作伙伴</h2>
				</section>
				<section class="friends-list">
					<a href="javascript:;"><img src="./img/hdt-logo.png" alt=""></a>
					<a href="javascript:;"><img src="./img/jy-logo.png" alt=""></a>
					<a href="javascript:;"><img src="./img/ssr-logo.png" alt=""></a>
					<a href="javascript:;"><img src="./img/xdmy-logo.png" alt=""></a>
					<a href="javascript:;"><img src="./img/ydsh-logo.png" alt=""></a>
					<a href="javascript:;"><img src="./img/zrp-logo.png" alt=""></a>
					<a href="javascript:;"><img src="./img/zyh-logo.png" alt=""></a>
					<a href="javascript:;"><img src="./img/mf-logo.png" alt=""></a>
				</section>
				<section class="friends-more">
					<a href="">查看更多</a>
				</section>
			</div>
		</div>

		<div class="contect">
			<section class="all-alignment">
				<div class="contect-w">
					<h3>联系我们</h3>
				</div>
				<div class="contect-list">
					<a class="yckicon wx">
						<i class='iconfont icon-weixin'></i>
						<label for="">微信</label>
						<img src="./img/ercode.jpg"  alt="">
					</a>
					<a class="yckicon qq" href='tencent://message/?uin=34721551948&Site=&Menu=yes'><i class='iconfont icon-qq'></i><label for="">QQ</label></a>
					<a class="yckicon tel"><i class='iconfont icon-dianhua'></i><label for="">400-651-1093</label></a>
				</div>
			</section>
		</div>
		<% include ./js/wx.js.ejs %>
		<div class="map">
			<section class="all-alignment">
				<div>
					<img src="./img/map.png" alt="">
				</div>
			</section>
		</div>
	</div>
	<% include footer.ejs%>
