<% include header.ejs%>
	<div class="main">
		<div class="joinus-page">
			<section class="all-alignment">
				<div class="joinus-page-investment">
					<h3>招商简介</h3>
					<div class='joinus-page-table'>
						<div>
							<p>
								商家提供详细的产品资料及电商图片，我方整理后投放到平台，商家通过平台账户处理查询订单，发货，收款等相关业务，采用商家
							</p>
						</div>
						<div>
							<img src="./img/zsjj.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="joinus-page-discount">
					<h3>加盟优惠政策</h3>
					<div class='joinus-page-table'>
						<div>
							<ul>
								<li>各省市同类产品只能优选一家上平台，实现产品无竞争，稳销量。</li>
								<li>各省市同类产品只能优选一家上平台，实现产品无竞争，稳销量。 </li>
								<li>各省市同类产品只能优选一家上平台，实现产品无竞争，稳销量。 </li>
								<li>各省市同类产品只能优选一家上平台，实现产品无竞争，稳销量。 </li>
							</ul>
						</div>
						<div>
							<img src="./img/zsyh.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="joinus-page-friend">
					<h3>战略合作伙伴</h3>
					<div class="friends-list">
						<a href="javascript:;"><img src="./img/hdt-logo.png" alt=""></a>
						<a href="javascript:;"><img src="./img/jy-logo.png" alt=""></a>
						<a href="javascript:;"><img src="./img/ssr-logo.png" alt=""></a>
						<a href="javascript:;"><img src="./img/xdmy-logo.png" alt=""></a>
						<a href="javascript:;"><img src="./img/ydsh-logo.png" alt=""></a>
						<a href="javascript:;"><img src="./img/zrp-logo.png" alt=""></a>
						<a href="javascript:;"><img src="./img/zyh-logo.png" alt=""></a>
						<a href="javascript:;"><img src="./img/mf-logo.png" alt=""></a>
					</div>
					<section class="friends-more">
						<a href="">查看更多</a>
					</section>
				</div>
				<div class="joinus-page-service">
					<h3>招商服务</h3>
					<section>
						<p>联系人：赵经理</p>
						<p>招商电话:010-8722-0575</p>
						<p>email：1652686754@qq.com</p>
						<p>qq:1652686754</p>
						<p>邮编:100176</p>
						<p>公司地址:北京市大兴区亦庄经济技术开发区</p>
					</section>
				</div>
			</section>
		</div>
	</div>
	<% include footer.ejs%>
