<% include header.ejs%>
	<div class="main">
		<div class="newsinfo">
			<div class="all-alignment">
				<h1>亿创客启航 着力打造农业电商平台新模式</h1>
				<section class='newsinfo-from'>
					<span>发布日期:2016-10-19</span>
					<span>来源:中国网</span>
					<span>分享</span>
				</section>
				<section class='newsinfo-w'>
					后台编辑
				</section>
				<div class="fanye">
					<ul>
						<li>
							<a class="fanye-prev" href="javascript:;">
								<<</a>
						</li>
						<li><a class="prev" href="javascript:;">1</a></li>
						<li><a class="prev" href="javascript:;">2</a></li>
						<li><a class="prev" href="javascript:;">3</a></li>
						<li><a class="fanye-next" href="javascript:;">>></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include footer.ejs%>
