<% include header.ejs%>
	<div class="main">
		<div class="newsinfo">
			<div class="all-alignment">
				<h1>宜创客启航 着力打造农业电商平台新模式</h1>
				<section class='newsinfo-from'>
					<span>发布日期:2016-10-19</span>
					<span>来源:中国网</span>
					<span>
						<i class='iconfont icon-fenxiang'></i>
						<div class='share-btn-group'>
							<a href="javascript:share.weixin();"><i class='iconfont icon-weixin'></i></a>
							<a href="javascript:share.qzone();"><i class='iconfont icon-kongjian'></i></a>
							<a href="javascript:share.weibo();"><i class='iconfont icon-weibo'></i></a>
							<a href="javascript:share.qq();"><i class='iconfont icon-qq'></i></a>
						</div>
					</span>
				</section>
				<section class='newsinfo-w'>
					后台编辑
					宜创客启航 着力打造农业电商平台新模式
					宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航
					着力打造农业电商平台新模式宜创客启航 着力打造农业电商平台新模式宜创客启航 着力打造农业电商平台新模式宜创客启航 着力打造农业电商平台新模式宜创客启航 着力打造农业电商平台新模式宜创客启航 着力打造农业电商平台新模式宜创客启航 着力打造农业电商平台新模式宜创客启航 着力打造农业电商平台新模式
				</section>

				<div class="fanye">
					<ul>
						<li>
							<a class="fanye-prev" href="javascript:;">
								<<</a>
						</li>
						<li><a class="prev" href="javascript:;">1</a></li>
						<li><a class="prev" href="javascript:;">2</a></li>
						<li><a class="prev" href="javascript:;">3</a></li>
						<li><a class="fanye-next" href="javascript:;">>></a></li>
					</ul>
					<div class='fanye_share'>
						<div class='share-btn-group'>
							<label for="">分享到:</label>
							<a href="javascript:share.weixin();"><i class='iconfont icon-weixin'></i></a>
							<a href="javascript:share.qzone();"><i class='iconfont icon-kongjian'></i></a>
							<a href="javascript:share.weibo();"><i class='iconfont icon-weibo'></i></a>
							<a href="javascript:share.qq();"><i class='iconfont icon-qq'></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include footer.ejs%>
