<% include header.ejs%>
	<div class="main">
		<div class="newspage">
			<div class="all-alignment">
				<div id="newspage_carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#newspage_carousel" data-slide-to="0" class="active"></li>
						<li data-target="#newspage_carousel" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="/img/1.png" alt="...">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="/img/1.png" alt="...">
							<div class="carousel-caption">
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#newspage_carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">上一张</span>
					</a>
					<a class="right carousel-control" href="#newspage_carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">下一张</span>
					</a>
				</div>
				<div class="newspage-menu">
					<ul>
						<li> <a href="javascript:;" class="current">公司新闻</a></li>
						<li> <a href="javascript:;">政务动态</a></li>
						<li> <a href="javascript:;">行业咨询</a></li>
						<li> <a href="javascript:;">地方动态</a></li>
						<li> <a href="javascript:;">致富经验</a></li>
					</ul>
				</div>

				<div class="newspage-lists">
					<a href="/newslist/newsinfo">
						<div class="newspage-lists-img">
							<img src="./img/zsyh.jpg" alt="">
						</div>
						<div class="newspage-lists-w">
							<h4>宜创客起航，着力打造农业电商新模式</h4>
							<div class="news-from">中国网</div>
							<div class="news-time"><label for="">发布日期:</label><label for="">2016-10-19</label></div>
						</div>
					</a>
					<a href="javascript:;">
						<div class="newspage-lists-img">
							<img src="./img/zsyh.jpg" alt="">
						</div>
						<div class="newspage-lists-w">
							<h4>宜创客起航，着力打造农业电商新模式</h4>
							<div class="news-from">中国网</div>
							<div class="news-time"><label for="">发布日期:</label><label for="">2016-10-19</label></div>
						</div>
					</a>
				</div>

				<div class="fanye">
					<ul>
						<li>
							<a class="fanye-prev" href="javascript:;">
								<<</a>
						</li>
						<li><a class="prev" href="javascript:;">1</a></li>
						<li><a class="prev" href="javascript:;">2</a></li>
						<li><a class="prev" href="javascript:;">3</a></li>
						<li><a class="fanye-next" href="javascript:;">>></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include footer.ejs%>
