<% include header.ejs%>
	<div class="main">
		<div class="about">
			<section class="all-alignment">
				<!-- <% include pice/about-list.ejs %> -->
				<!-- 公司简介 -->
				<div class='about-platform'>
					<ul class='about-platform-list'>
						<li>
							<a href="javascript:;"><img src="/img/B2B.jpg" alt=""></a>
							<p>宜创客B2B平台</p>
						</li>
						<li>
							<a href="javascript:;"><img src="/img/B2C.jpg" alt=""></a>
							<p>宜创客B2C平台</p>
						</li>
						<li>
							<a href="javascript:;"><img src="/img/B2S.jpg" alt=""></a>
							<p>宜创客B2S平台</p>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<% include footer.ejs%>
