<div class='sendexam-stip'>
	<b>x</b>
	<div>
		<h3>请投递简历至: <span>ycknssc@163.com</span></h3>
	</div>
</div>

<script type="text/javascript">

window.onload = function(){
	var is_stip = true;
	$(document).on('click','.sendexam',function(){
		if(is_stip){
			$('.sendexam-stip').show();
			is_stip = false;
		}
	})
	$(document).on('click','.sendexam-stip',function(){
		$('.sendexam-stip').hide();
		is_stip=true;
	})
}

</script>
