<div class="about-list">
	<ul>
		<li>
			<a href="/about" class="active">公司简介</a>
		</li>
		<li>
			<a href="/about/about_platform">平台介绍</a>
		</li>
		<li>
			<a href="/about/about_lead">领导团队</a>
		</li>
		<li>
			<a href="/about/about_joinus" >加入我们</a>
		</li>
	</ul>
	<div class='about-list-seedemail'>
		<label for="">请投简历至:</label>
		<a href="javascript:;">ycknssc@163.com</a>
	</div>
</div>
