
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481772641199'); /* IE9*/
  src: url('iconfont.eot?t=1481772641199#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481772641199') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481772641199') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481772641199#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cha:before { content: "\f00a5"; }

.icon-jiantouxia:before { content: "\e6a1"; }

.icon-loading:before { content: "\e62b"; }

.icon-iconfonticonfonticonfont20:before { content: "\e638"; }

.icon-qq:before { content: "\e64c"; }

.icon-cha1:before { content: "\e606"; }

.icon-weixin:before { content: "\e63b"; }

.icon-shuangjiantou:before { content: "\e636"; }

.icon-shuangjiantou-copy:before { content: "\e675"; }

.icon-new:before { content: "\e661"; }

.icon-qq1:before { content: "\e61f"; }

.icon-dianhua:before { content: "\e509"; }

.icon-112321321321313:before { content: "\e501"; }

.icon-1123213213213131:before { content: "\e626"; }

