body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.all-alignment {
  width: 80% !important;
  min-width: 980px !important; }

.hd {
  margin: 0 -15px !important;
  text-align: center;
  background-color: #1dc15f; }
  .hd-inc {
    width: 100%;
    color: #fff;
    text-align: center; }
    .hd-inc-stips {
      line-height: 30px;
      display: inline-block; }
      .hd-inc-stips-compony, .hd-inc-stips-tel {
        width: 50%;
        display: inline-block; }
      .hd-inc-stips-compony {
        text-align: left; }
      .hd-inc-stips-tel {
        text-align: right; }
  .hd-sider-bar {
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-bottom: 4px solid #1dc15f; }
    .hd-sider-bar .menu {
      display: inline-table; }
      .hd-sider-bar .menu-list, .hd-sider-bar .menu-logo {
        display: table-cell; }
      .hd-sider-bar .menu-logo {
        width: 20%;
        margin-bottom: 0;
        width: 16%; }
        .hd-sider-bar .menu-logo img {
          width: 80%;
          vertical-align: inherit; }
      .hd-sider-bar .menu-list {
        width: 60%;
        margin-bottom: 0; }
        .hd-sider-bar .menu-list li {
          display: inline-block;
          list-style: none;
          width: 16%; }
          .hd-sider-bar .menu-list li a {
            width: 100%;
            padding: 40px 5px;
            display: inline-block;
            list-style: none;
            text-decoration: none; }
            .hd-sider-bar .menu-list li a:hover {
              background-color: #1dc15f; }
              .hd-sider-bar .menu-list li a:hover p {
                color: #fff; }
          .hd-sider-bar .menu-list li p:first-child {
            font-weight: 400;
            color: #000;
            font-size: 1.4em; }
          .hd-sider-bar .menu-list li p:last-child {
            color: #655;
            font-size: 1em; }
