body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

ul {
  padding: 0; }

.all-alignment {
  width: 80% !important;
  min-width: 980px !important; }

.hd {
  margin: 0 -15px !important;
  text-align: center;
  background-color: #1dc15f; }
  .hd-inc {
    width: 100%;
    color: #fff;
    text-align: center; }
    .hd-inc-stips {
      line-height: 30px;
      display: inline-block; }
      .hd-inc-stips-compony, .hd-inc-stips-tel {
        width: 50%;
        display: inline-block; }
      .hd-inc-stips-compony {
        text-align: left; }
      .hd-inc-stips-tel {
        text-align: right; }
  .hd-sider-bar {
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-bottom: 2px solid #1dc15f; }
    .hd-sider-bar .menu {
      display: inline-table;
      height: 10em;
      overflow: hidden; }
      .hd-sider-bar .menu-list, .hd-sider-bar .menu-logo {
        display: table-cell; }
      .hd-sider-bar .menu-logo {
        margin-bottom: 0;
        width: 15%; }
        .hd-sider-bar .menu-logo img {
          width: 12.6em;
          height: 5em;
          vertical-align: inherit; }
      .hd-sider-bar .menu-list {
        width: 60%;
        margin-bottom: 0;
        padding-left: 160px; }
        .hd-sider-bar .menu-list li {
          display: inline-block;
          list-style: none;
          width: 16%; }
          .hd-sider-bar .menu-list li a {
            width: 100%;
            padding: 40px 5px;
            display: inline-block;
            list-style: none;
            text-decoration: none; }
            .hd-sider-bar .menu-list li a:hover {
              background-color: #1dc15f; }
              .hd-sider-bar .menu-list li a:hover p {
                color: #fff; }
          .hd-sider-bar .menu-list li p:first-child {
            font-weight: 400;
            color: #000;
            font-size: 1.4em; }
          .hd-sider-bar .menu-list li p:last-child {
            color: #655;
            font-size: 1em; }

.main {
  width: 100%;
  min-width: 980px; }
  .main .carousel {
    margin: 0 -15px; }
    .main .carousel-indicators .active,
    .main .carousel-indicators li {
      width: 60px;
      height: 5px;
      border-radius: 1px; }
    .main .carousel-indicators .active {
      background-color: #1dc15f; }
    .main .carousel-inner .item {
      width: 100%; }
      .main .carousel-inner .item img {
        width: 100%; }
  .main .mv {
    text-align: center; }
    .main .mv iframe {
      width: 80%;
      height: 400px; }
  .main .news {
    margin-top: 20px;
    display: table;
    text-align: center; }
    .main .news .all-alignment {
      display: inline-table; }
    .main .news-list {
      display: table-cell;
      padding: 10px;
      background-color: #eee; }
      .main .news-list a {
        display: block;
        text-align: left;
        line-height: 30px;
        color: #000; }
      .main .news-list-latest p {
        width: 100%;
        position: relative; }
        .main .news-list-latest p img {
          width: 100%; }
        .main .news-list-latest p a {
          display: inline-block;
          position: absolute;
          top: 20px;
          left: 0;
          padding: 0 15px;
          text-decoration: none;
          border: 1px solid #578;
          border-top-right-radius: 32px;
          border-bottom-right-radius: 32px;
          color: #fff;
          background-color: rgba(68, 68, 68, 0.8); }
          .main .news-list-latest p a:hover {
            background-color: #1dc15f;
            border: 1px solid rgba(29, 193, 95, 0.5); }
      .main .news-list-latest > a {
        padding: 10px;
        font-size: 14px;
        font-weight: 600; }
      .main .news-list:nth-child(2) {
        border-left: 1px dashed #000;
        border-right: 1px dashed #000; }
      .main .news-list ul {
        padding-left: 20px; }
        .main .news-list ul a {
          font-size: 12px;
          display: block;
          position: relative; }
          .main .news-list ul a span:last-child {
            position: absolute;
            right: 0; }
  .main .friends {
    margin-top: 20px; }
    .main .friends-w {
      margin: 10px; }
      .main .friends-w h2 {
        font-weight: 600; }
    .main .friends-list {
      text-align: left;
      padding-top: 10px;
      border-top: 1px solid #333; }
      .main .friends-list a {
        display: inline-block;
        width: 24.48999%;
        padding: 10px;
        margin: 0 5px 5px 0;
        border: 1px solid rgba(51, 51, 51, 0.5); }
        .main .friends-list a img {
          width: 100%; }
        .main .friends-list a:first-child {
          margin-left: 0; }
