body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.container-fluid {
  max-width: 1920px !important; }

ul {
  padding: 0; }

.all-alignment {
  width: 80% !important;
  min-width: 980px !important;
  display: inline-block; }

.yckicon:before {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.hd {
  margin: 0 -15px !important;
  text-align: center; }
  .hd-inc {
    background-color: #1dc15f;
    width: 100%;
    color: #fff;
    text-align: center; }
    .hd-inc-stips {
      line-height: 30px;
      display: inline-block; }
      .hd-inc-stips-compony, .hd-inc-stips-tel {
        width: 50%;
        display: inline-block; }
      .hd-inc-stips-compony {
        text-align: left; }
      .hd-inc-stips-tel {
        text-align: right;
        line-height: 30px; }
        .hd-inc-stips-tel:before {
          font-size: 18px;
          content: "\e638"; }
  .hd-sider-bar {
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-bottom: 2px solid #1dc15f; }
    .hd-sider-bar .menu {
      height: 10em;
      overflow: hidden;
      margin-bottom: -4px; }
      .hd-sider-bar .menu-list, .hd-sider-bar .menu-logo {
        display: table-cell; }
      .hd-sider-bar .menu-logo {
        margin-bottom: 0;
        width: 15%; }
        .hd-sider-bar .menu-logo img {
          width: 12.6em;
          height: 5em;
          vertical-align: inherit; }
      .hd-sider-bar .menu-list {
        width: 56%;
        margin-bottom: 0;
        padding-left: 160px; }
        .hd-sider-bar .menu-list li {
          display: inline-block;
          list-style: none;
          width: 16%; }
          .hd-sider-bar .menu-list li a {
            width: 100%;
            padding: 40px 5px;
            display: inline-block;
            list-style: none;
            text-decoration: none; }
            .hd-sider-bar .menu-list li a:hover {
              background-color: #1dc15f; }
              .hd-sider-bar .menu-list li a:hover p {
                color: #fff; }
          .hd-sider-bar .menu-list li p:first-child {
            font-weight: 600;
            color: #000;
            font-size: 1.4em; }
          .hd-sider-bar .menu-list li p:last-child {
            color: #655;
            font-size: 1em; }

.main {
  width: 100%;
  min-width: 980px;
  /************* home page ************/
  /************* home page end ************/
  /************* about page ************/
  /************* about page end ************/
  /************* news page start ************/
  /************* news page end ************/
  /************* news info start ************/
  /************* news info end ************/
  /************* contectus start ************/
  /*************  contectus end ************/
  /************* join page start ************/
  /************* join page end ************/ }
  .main .carousel {
    margin: 0 -15px; }
    .main .carousel-indicators .active,
    .main .carousel-indicators li {
      width: 60px;
      height: 5px;
      border-radius: 1px; }
    .main .carousel-indicators .active {
      background-color: #1dc15f; }
    .main .carousel-inner .item {
      width: 100%; }
      .main .carousel-inner .item img {
        width: 100%; }
  .main .mv {
    text-align: center; }
    .main .mv iframe {
      width: 80%;
      height: 500px; }
  .main .news {
    margin-top: 20px;
    display: table;
    text-align: center; }
    .main .news .all-alignment {
      display: inline-table; }
    .main .news-list {
      display: table-cell;
      padding: 10px;
      background-color: #eee; }
      .main .news-list a {
        display: block;
        text-align: left;
        line-height: 30px;
        color: #000; }
      .main .news-list-latest p {
        width: 100%;
        position: relative; }
        .main .news-list-latest p img {
          width: 100%; }
        .main .news-list-latest p a {
          display: inline-block;
          position: absolute;
          top: 20px;
          left: 0;
          padding: 0 15px;
          text-decoration: none;
          border: 1px solid rgba(85, 119, 136, 0.5);
          border-top-right-radius: 32px;
          border-bottom-right-radius: 32px;
          color: #fff;
          background-color: rgba(68, 68, 68, 0.8); }
          .main .news-list-latest p a:hover {
            background-color: #1dc15f;
            border: 1px solid rgba(29, 193, 95, 0.5); }
      .main .news-list-latest > a {
        padding: 10px;
        font-size: 14px;
        font-weight: 600; }
      .main .news-list:nth-child(2) {
        border-left: 1px dashed rgba(0, 0, 0, 0.3);
        border-right: 1px dashed rgba(0, 0, 0, 0.3); }
      .main .news-list ul {
        padding-left: 25px; }
        .main .news-list ul a {
          font-size: 12px;
          display: block;
          position: relative;
          color: #666666; }
          .main .news-list ul a span:last-child {
            position: absolute;
            right: 0; }
  .main .friends {
    margin-top: 20px; }
    .main .friends-w {
      margin: 10px; }
      .main .friends-w h2 {
        font-weight: 600; }
    .main .friends-list {
      text-align: left;
      padding-top: 10px;
      border-top: 1px solid #333; }
      .main .friends-list a {
        display: inline-block;
        width: 24.48999%;
        padding: 10px;
        margin: 0 5px 5px 0;
        border: 1px solid rgba(51, 51, 51, 0.5); }
        .main .friends-list a img {
          width: 100%; }
        .main .friends-list a:first-child {
          margin-left: 0; }
  .main .contect {
    background-color: #9e9e9e;
    padding: 40px 0;
    margin: 40px -15px 0;
    text-align: center; }
    .main .contect-w h2 {
      color: white;
      margin: 20px;
      font-weight: 100; }
    .main .contect-list a {
      margin: 20px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      color: white; }
      .main .contect-list a i {
        display: inline-block;
        font-size: 4em;
        margin: 15px; }
      .main .contect-list a label {
        display: block; }
    .main .contect-list .wx i:hover {
      color: #2fd026; }
    .main .contect-list .qq i:hover {
      color: #2986e9; }
    .main .contect-list .tel i:hover {
      color: #45d2a3; }
  .main .map {
    width: 100%; }
    .main .map section {
      margin: 0 -15px; }
    .main .map img {
      width: 100%; }
  .main .about {
    margin-top: 20px;
    text-align: center; }
    .main .about-list {
      width: 100%;
      display: table;
      font-size: 20px; }
      .main .about-list ul {
        display: table-cell; }
        .main .about-list ul li {
          display: inherit;
          padding: 20px 30px 20px 0; }
          .main .about-list ul li a {
            text-decoration: none;
            color: #666666;
            font-weight: 600; }
            .main .about-list ul li a.active {
              color: #1dc15f; }
      .main .about-list-seedemail {
        text-align: right; }
        .main .about-list-seedemail label {
          color: #666666; }
        .main .about-list-seedemail a {
          color: #1dc15f; }
    .main .about-conpony img {
      width: 100%; }
    .main .about-conpony p {
      margin: 50px 0;
      font-size: 18px;
      color: #666666;
      text-align: left;
      line-height: 30px;
      text-indent: 36px; }
    .main .about-exam {
      background-color: #c3c3c3;
      padding: 20px 0;
      color: rgba(0, 0, 0, 0.6);
      font-size: 20px; }
      .main .about-exam h2 {
        color: rgba(0, 0, 0, 0.8);
        margin-top: 0; }
      .main .about-exam-head {
        width: 100%;
        display: table;
        text-align: left; }
        .main .about-exam-head p {
          width: 23%;
          display: table-cell;
          padding: 10px 0 10px 30px;
          font-size: 20px;
          background-color: #fff; }
      .main .about-exam-select {
        background-color: #e8e9e8; }
        .main .about-exam-select > ul {
          width: 100%;
          display: table; }
          .main .about-exam-select > ul > li {
            width: 23%;
            padding: 15px 0 15px 30px;
            display: table-cell;
            text-align: left; }
      .main .about-exam-info p {
        text-align: left; }
  .main .newspage {
    display: table;
    text-align: center; }
    .main .newspage .all-alignment {
      display: inline-table;
      margin: 0 -15px; }
    .main .newspage-menu {
      margin: 20px -15px; }
      .main .newspage-menu .current {
        background-color: #1dc15f;
        color: #fff; }
      .main .newspage-menu ul {
        list-style: none;
        display: block;
        background-color: #c3c3c3; }
        .main .newspage-menu ul li {
          display: table-cell;
          line-height: 47px; }
          .main .newspage-menu ul li a {
            font-size: 16px;
            padding: 15px;
            color: #000;
            text-decoration: none; }
            .main .newspage-menu ul li a:hover {
              background-color: #1dc15f;
              color: #fff; }
    .main .newspage-lists {
      margin: 0 -15px; }
      .main .newspage-lists a {
        width: 100%;
        padding: 20px 0;
        display: inline-table;
        text-decoration: none;
        border-bottom: 1px solid #c3c3c3; }
        .main .newspage-lists a:last-child {
          border-bottom-color: #fff; }
      .main .newspage-lists-img, .main .newspage-lists-w {
        display: table-cell; }
      .main .newspage-lists-img {
        width: 30%; }
        .main .newspage-lists-img img {
          width: 100%; }
      .main .newspage-lists-w {
        text-align: left;
        padding: 10px;
        color: #000;
        position: relative; }
        .main .newspage-lists-w h4 {
          position: absolute;
          top: 10px; }
        .main .newspage-lists-w .news-from,
        .main .newspage-lists-w .news-time {
          color: #666666;
          position: absolute;
          bottom: 0; }
        .main .newspage-lists-w .news-time {
          right: 0; }
  .main .fanye {
    margin: 40px 0; }
    .main .fanye ul {
      display: inline-table;
      list-style: none;
      text-align: center; }
      .main .fanye ul li {
        display: table-cell;
        padding: 10px; }
      .main .fanye ul a {
        height: 30px;
        width: 30px;
        font-size: 16px;
        padding: 5px;
        line-height: 22px;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(195, 195, 195, 0.6);
        color: #1dc15f;
        border-radius: 50%; }
        .main .fanye ul a:hover {
          background-color: #1dc15f;
          color: #fff; }
  .main .newsinfo {
    text-align: center; }
    .main .newsinfo .all-alignment {
      display: inline-table; }
    .main .newsinfo-from {
      display: table;
      width: 100%; }
      .main .newsinfo-from span {
        display: table-cell;
        padding: 10px;
        color: #666666; }
        .main .newsinfo-from span:nth-child(2) {
          width: 78%;
          text-align: left; }
    .main .newsinfo-w {
      text-align: left; }
  .main .contectus {
    text-align: center; }
    .main .contectus-img img {
      width: 100%; }
    .main .contectus-w {
      text-align: left;
      margin: 20px 0; }
      .main .contectus-w-t {
        margin: 40px 0 20px;
        border-bottom: 1px solid #c3c3c3; }
      .main .contectus-w-master {
        display: table;
        width: 100%; }
        .main .contectus-w-master div {
          display: table-cell;
          width: 50%;
          padding-right: 200px; }
          .main .contectus-w-master div p {
            color: #666666; }
            .main .contectus-w-master div p:first-child {
              color: #333; }
    .main .contectus-map img {
      width: 100%; }
  .main .joinus-page {
    display: table;
    text-align: center;
    width: 100%; }
    .main .joinus-page div {
      text-align: left; }
    .main .joinus-page-table {
      display: table;
      width: 100%;
      border-bottom: 1px solid #666666; }
      .main .joinus-page-table > div {
        position: relative;
        display: table-cell;
        padding: 20px 0; }
        .main .joinus-page-table > div:first-child {
          width: 60%; }
          .main .joinus-page-table > div:first-child p,
          .main .joinus-page-table > div:first-child ul {
            position: absolute;
            top: 15px;
            line-height: 28px;
            text-indent: 28px; }
          .main .joinus-page-table > div:first-child ul li:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: #1dc15f;
            margin-right: 10px; }
        .main .joinus-page-table > div:last-child {
          text-align: center;
          padding: 20px 10px; }
        .main .joinus-page-table > div img {
          width: 100%; }
    .main .joinus-page-friend {
      border-bottom: 1px solid #666666; }
      .main .joinus-page-friend ul {
        display: block; }
        .main .joinus-page-friend ul li {
          display: inline-block;
          width: 23.6%;
          margin: 5px;
          background-color: rgba(102, 102, 102, 0.6);
          padding: 10px; }
          .main .joinus-page-friend ul li a {
            width: 100%; }
            .main .joinus-page-friend ul li a img {
              width: 100%; }
    .main .joinus-page ul {
      list-style: none; }

.ft {
  padding: 100px 0;
  text-align: center; }
  .ft .all-alignment {
    display: inline-table;
    padding: 20px 0;
    border-bottom: 1px solid #888; }
  .ft ul {
    list-style: none; }
  .ft-links {
    display: table-cell; }
    .ft-links-list > li {
      display: table-cell;
      padding-right: 30px;
      line-height: 30px;
      font-size: 16px; }
      .ft-links-list > li label {
        display: inline; }
      .ft-links-list > li a {
        color: #666666; }
  .ft-contect {
    display: table-cell;
    font-size: 16px; }
    .ft-contect p {
      color: #666666;
      line-height: 24px;
      font-weight: 600; }
      .ft-contect p:first-child {
        color: #1dc15f;
        font-size: 24px; }
      .ft-contect p:last-child {
        padding-top: 40px;
        color: #1dc15f;
        font-size: 24px; }
