$premery: rgba(13,200,114,1);
$gey: rgba(#666,1);
$gey_lit: rgba(195,195,195,1);
$myw: #fdffff;

body {
	font: 14px 'Microsoft YaHei',Arial,Helvetica,sans-serif;
}

.container-fluid {
	max-width: 1920px !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

ul {
	padding: 0;
}

.all-alignment {
	width: 62.5% !important;
	min-width: 980px !important;
	display: inline-block;
}

.yckicon {
	&:before {
		font-family: "iconfont" !important;
		font-size: 16px;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
	}
}

.hd {
	// margin: 0 -15px !important;
	text-align: center;

	&-inc {
		background-color: $premery;
		width: 100%;
		color: $myw;
		text-align: center;

		&-stips {
			line-height: 30px;
			display: inline-block;

			&-compony,
			&-tel {
				width: 50%;
				display: inline-block;
			}

			&-compony {
				text-align: left;
			}

			&-tel {
				text-align: right;
				line-height: 30px;
				font-size: 16px;
				&:before {
					content: "\e638";
					font-size: 22px;
					display: inline-block;
				}
			}
		}
	}

	&-sider-bar {
		width: 100%;
		background-color: $myw;
		text-align: center;
		border-bottom: 2px solid $premery;

		.menu {
			overflow: hidden;
			display: inline-table !important;

			& > div {
				display: table-cell;
			}
			// &-list,
			// &-logo {
			// 	display: table-cell;
			// }
			&-logo {
				margin-bottom: 0;
				width: 18%;
				position: relative;

				img {
					width: 100%;
					vertical-align: inherit;
				}

				& > div {
					position: absolute;
				}
			}

			&-list {
				text-align: right;

				ul {
					width: 80%;
					margin-bottom: 0;
					display: inline-block;
					text-align: center;
				}

				li {
					display: inline-block;
					list-style: none;
					width: 16%;

					a {
						width: 100%;
						padding: 22px 5px;
						display: inline-block;
						list-style: none;
						text-decoration: none;

						&:hover {
							background-color: $premery;

							p {
								color: $myw;
							}
						}
					}

					p:first-child {
						font-weight: 600;
						color: #000;
						font-size: 18px;
					}

					p:last-child {
						color: #655;
						font-size: 14px;
					}
				}
			}
		}
	}
}

.main {
	width: 100%;
	min-width: 980px;
	/************* home page ************/
	text-align: center;
	// 立即发送简历按钮
	.sendexam {
		background: -prefix-linear-zgradient(top, #47f3a4, #13ae67) !important;
		background: linear-gradient(to bottom, #47f3a4, #13ae67) !important;
		border-radius: 5px;
		border: none;
		color: $myw;
		padding: 5px 10px;
		// 立即发送弹窗
		&-stip {
			display: none;
			position: fixed;
			width: 100%;
			height: 1200px;
			background-color: rgba(#000,.25);
			top: 0;
			left: 0;

			b {
				position: absolute;
				top: 20px;
				right: 20px;
				color: #000;
				font-size: 30px;
				cursor: pointer;
			}

			div {
				position: absolute;
				top: 30%;
				display: inline-block;
				padding: 20px 40px;
				left: 40%;
				background-color: $myw;

				span {
					color: $premery;
				}
			}
		}
	}
	// 轮播图
	.carousel {
		&-indicators {
			.active,
			li {
				width: 66px;
				height: 5px;
				border-radius: 1px;
			}

			.active {
				background-color: $premery;
			}
		}

		&-inner {
			.item {
				width: 100%;

				img {
					width: 100%;
				}
			}
		}
	}

	.mv {
		text-align: center;
		margin: 20px 0 40px;

		iframe {
			width: 100%;
			height: 550px;
		}
	}

	.news {
		margin-top: 20px;
		display: table;
		width: 100%;
		text-align: center;

		.all-alignment {
			display: inline-table;
		}

		&-list {
			width: 33.33%;
			display: table-cell;
			padding: 16px 18px;
			background-color: #fafafa;

			a {
				display: block;
				text-align: left;
				line-height: 30px;
				color: #000;
			}

			&-latest {
				p {
					width: 100%;
					position: relative;

					img {
						width: 100%;
						border-radius: 9px;
					}

					a {
						display: inline-block;
						position: absolute;
						top: 9px;
						left: 0;
						padding: 0 10px;
						font-size: 12px;
						line-height: 25px;
						text-decoration: none;
						border: 1px solid rgba(#578,.5);
						border-top-right-radius: 32px;
						border-bottom-right-radius: 32px;
						color: $myw;
						background-color: rgba(#444,.8);

						&:hover {
							background-color: $premery;
							border: 1px solid rgba($premery,.5);
						}
					}
				}

				& > a {
					padding-bottom: 16px;
					border-bottom: 1px solid #eee;
					font-weight: 600;
				}
			}

			&:nth-child(2) {
				border-left: 1px dashed rgba(#000,.3);
				border-right: 1px dashed rgba(#000,.3);
			}

			ul {
				padding-left: 20px;
				padding-top: 10px;

				a {
					font-size: 12px;
					display: block;
					position: relative;
					color: #757575;

					span {
						&:last-child {
							position: absolute;
							right: 0;
						}
					}
				}
			}
		}
	}

	.friends {
		margin-top: 20px;

		&-w {
			margin: 26px;

			h2 {
				font-weight: bold;
			}
		}

		&-list {
			text-align: left;
			padding-top: 22px;
			border-top: 1px solid #acacac;

			a {
				display: inline-block;
				width: 24%;
				padding: 10px;
				margin: 4px 2.5px;
				border: 1px solid rgba(#333,.5);
				border-radius: 8px;
				background-color: #f5f5f5;

				img {
					width: 100%;
				}

				&:first-child {
					margin-left: 0;
				}
			}
		}

		&-more {
			text-align: center;

			a {
				margin-top: 20px;
				font-size: 16px;
				padding: 20px 66px;
				display: inline-block;
				border: 1px solid rgba(#333,.5);
				color: #ababab;
				text-decoration: none;

				&:hover {
					color: #0ccb76;
				}
			}
		}
	}

	.contect {
		padding: 40px 0 0;
		text-align: center;
		width: 100%;

		.all-alignment {
			background-color: #ababab;
			padding: 79px 0;
		}

		&-w {
			h3 {
				color: rgba(255,255,255,1);
				margin: 30px;
				font-weight: bold;
			}
		}

		&-list {
			a {
				padding: 30px 40px;
				display: inline-block;
				text-align: center;
				text-decoration: none;
				color: rgba(255,255,255,1);

				i {
					display: inline-block;
					font-size: 4em;
					margin: 15px;
				}

				label {
					display: block;
				}
			}

			.wx {
				position: relative;
				i {
					&:hover {
						color: #31d531;

					}
				}
				img{
					display: none;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}

			}

			.qq {
				i {
					&:hover {
						color: #329cef;
					}
				}
			}

			.tel {
				i {
					&:hover {
						color: #4fd9b3;
					}
				}
			}
		}
	}

	.map {
		width: 100%;

		section {
			margin: 0 -15px;
		}

		img {
			width: 100%;
		}
	}
	/************* home page end ************/
	/************* about page ************/
	.about {
		margin-top: 20px;
		text-align: center;

		&-list {
			width: 100%;
			display: table;
			font-size: 20px;

			ul {
				display: table-cell;

				li {
					display: inherit;
					padding: 30px 50px 30px 0;

					a {
						text-decoration: none;
						color: rgba($gey,1);
						font-weight: 600;

						&.active {
							color: $premery;
						}
					}
				}
			}

			&-seedemail {
				text-align: right;

				label {
					color: $gey;
				}

				a {
					color: $premery;
				}
				// 当处于加入我们时邮箱显示
				// display: none;
			}
		}
		// 公司简介
		&-conpony {
			img {
				width: 100%;
			}

			p {
				margin: 50px 0;
				font-size: 18px;
				color: rgba($gey,1);
				text-align: left;
				line-height: 30px;
				text-indent: 36px;
			}
		}
		// 加入我们
		&-exam {
			background-color: #e8e8e8;
			color: rgba(#000,.6);
			font-size: 20px;
			border: 1px solid #ccc;
			border-radius: 6px;

			h3 {
				color: rgba(#000,.8);
				margin: 0;
				padding: 20px 0;
				background: -prefix-linear-zgradient(top, #ececec, #c0c0c0);
				background: linear-gradient(to bottom, #ececec, #c0c0c0);
			}

			&-head {
				width: 100%;
				display: table;
				text-align: left;

				p {
					width: 23%;
					display: table-cell;
					font-size: 20px;
					padding: 10px 0;
					text-align: center;
					border-left: 1px solid #ccc;
					background: -prefix-linear-zgradient(top, #ececec, #c0c0c0);
					background: linear-gradient(to bottom, #ececec, #c0c0c0);
				}
			}

			&-select {
				background-color: rgba(232,233,232,1);

				select {
					width: 150px;
					/*注意在下拉框中，width是包括border的宽度的*/
					height: 30px;
					border-radius: 5px;
					border: 1px solid #e8e8e8;
					background-color: #e8e8e8;
					background-repeat: no-repeat;
					/*背景图像的尺寸：第一个值为宽度，第二值为高度*/
					background-size: 100px 30px, 8px 8px, 30px 30px, 1px 30px;
					/*背景图片：多张图片用","分割*/
					/*repeating-linear-gradient() 函数用于重复线性渐变：参数分别为角度，颜色1，颜色2,...*/
					background-image:repeating-linear-gradient(225deg, rgb(105, 123, 149) 0%, rgb(105, 123, 149) 50%, transparent 50%, transparent 100%),
					/*组合成三角形图标*/
					repeating-linear-gradient(135deg, rgb(105, 123, 149) 0%, rgb(105, 123, 149) 50%, transparent 50%, transparent 100%),
					/*组合成三角形图标*/
					linear-gradient(#FFFFFF 0%, #F8F9Fd, #EFFAFA 100%),
					/*竖分割线右侧的背景色*/
					repeating-linear-gradient( rgb(191, 204, 220) 0%, rgb(191, 204, 220) 100%);
					/*竖分割线*/
					/*背景图片的位置：第一个参数为水平位置，第二参数为垂直位置*/
					background-position: 150px 10px, 130px 10px, right top, 167px top;
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;
				}

				& > ul {
					width: 100%;
					display: table;

					& > li {
						width: 23%;
						padding: 10px 0 0;
						text-align: center;
						display: table-cell;
					}
				}
				border: 1px solid #ccc;
			}

			&-info {
				div {
					text-align: left;
					margin: 20px 30px;

					p {
						font-size: 20px;
					}

					li {
						font-size: 14px;
						color: #757575;
						padding: 10px;
					}
					border-bottom: 1px solid #ccc;

					&:last-child {
						border-bottom: none;
					}
				}
				padding-bottom: 20px;
			}
		}
	}
	/************* about page end ************/
	/************* news page start ************/
	.newspage {
		text-align: center;

		.all-alignment {
			display: inline-table;
		}

		&-menu {
			margin: 20px 0;

			.current {
				background-color: $premery;
				color: $myw;
			}

			ul {
				list-style: none;
				display: block;
				background: -prefix-linear-zgradient(top, #ececec, #c0c0c0);
				background: linear-gradient(to bottom, #ececec, #c0c0c0);

				li {
					display: table-cell;
					line-height: 48px;

					a {
						font-size: 16px;
						padding: 14px 40px;
						color: #373737;
						text-decoration: none;

						&:hover {
							background-color: $premery;
							color: $myw;
						}
					}
				}
			}
		}

		&-lists {
			a {
				width: 100%;
				padding: 33px 0;
				display: inline-table;
				text-decoration: none;
				border-bottom: 1px solid $gey-lit;

				&:last-child {
					border-bottom-color: $myw;
				}
			}

			&-img,
			&-w {
				display: table-cell;
			}

			&-img {
				width: 30%;

				img {
					width: 100%;
				}
			}

			&-w {
				text-align: left;
				color: #373737;
				padding-left: 20px;
				position: relative;

				h4 {
					position: absolute;
				}

				.news-from,
				.news-time {
					color: #6f6f6f;
					position: absolute;
					bottom: 0;
				}

				.news-time {
					right: 0;
					display: inline;
				}
			}
		}
	}

	.fanye {
		margin: 40px 0;

		ul {
			display: inline-table;
			list-style: none;
			text-align: center;

			li {
				display: table-cell;
				padding: 10px;
			}

			a {
				width: 40px;
				font-size: 12px;
				padding: 5px;
				line-height: 32px;
				text-decoration: none;
				display: inline-block;
				background-color: rgba($gey-lit,.6);
				color: $premery;
				border-radius: 50%;

				&:hover {
					background-color: $premery;
					color: $myw;
				}
				height: 40px;
			}
		}
	}
	/************* news page end ************/
	/************* news info start ************/
	.newsinfo {
		text-align: center;

		.all-alignment {
			display: inline-table;
		}

		&-from {
			display: table;
			width: 100%;

			span {
				display: table-cell;
				padding: 10px;
				color: $gey;

				&:nth-child(2) {
					width: 78%;
					text-align: left;
				}
			}
		}

		&-w {
			text-align: left;
		}
	}
	/************* news info end ************/
	/************* contectus start ************/
	.contectus {
		text-align: center;

		&-img {
			img {
				width: 100%;
			}
		}

		&-w {
			text-align: left;
			margin: 20px 0;

			&-t {
				margin: 60px 0 20px;
				border-bottom: 1px solid $gey-lit;
			}

			&-master {
				display: table;
				width: 100%;

				div {
					display: table-cell;
					width: 50%;
					padding-right: 100px;

					p {
						color: #a6a6a6;
						font-size: 14px;

						&:first-child {
							font-size: 16px;
							color: #565656;
						}
					}
				}
			}
		}

		&-map {
			margin-top: 50px;

			img {
				width: 100%;
			}
		}
	}
	/*************  contectus end ************/
	/************* join page start ************/
	.joinus-page {
		display: table;
		text-align: center;
		width: 100%;

		div {
			text-align: left;
		}

		&-table {
			display: table;
			width: 100%;
			border-bottom: 1px solid $gey;

			& > div {
				position: relative;
				display: table-cell;
				padding: 20px 0;

				&:first-child {
					width: 65%;

					p,
					ul {
						position: absolute;
						top: 15px;
						line-height: 28px;
						text-indent: 28px;
					}

					ul {
						li:before {
							content: "";
							display: inline-block;
							width: 10px;
							height: 10px;
							border-radius: 10px;
							background-color: $premery;
							margin-right: 10px;
						}
					}
				}

				&:last-child {
					text-align: center;
					padding: 20px 10px;
				}

				img {
					width: 100%;
				}
			}
		}

		&-friend {
			border-bottom: 1px solid $gey;
			padding-bottom: 20px;

			div {
				border-top: none;
			}
		}

		ul {
			list-style: none;
		}
	}
	/************* join page end ************/
}

.ft {
	padding: 100px 0;
	text-align: center;

	.all-alignment {
		display: inline-table;
		padding: 20px 0;
		border-bottom: 1px solid #888;
	}

	ul {
		list-style: none;
	}

	&-links {
		display: table-cell;

		&-list {
			& > li {
				label {
					display: inline;
				}
				display: table-cell;
				padding-right: 60px;
				line-height: 30px;
				font-size: 16px;
				text-align: left;

				a {
					color: #a5a5a5;
				}
			}
		}
	}

	&-contect {
		display: table-cell;
		font-size: 16px;

		p {
			color: rgba($gey,1);
			line-height: 24px;
			font-weight: 200;
			text-align: right;

			&:first-child {
				color: $premery;
				text-align: right;
				font-size: 30px;
			}

			&:nth-child(2) {
				span {
					color: #b1b1b1;
					display: inline-block;
					width: 198px;
					text-align: center;
				}
			}

			&:last-child {
				a {
					padding: 10px 50px;
					color: $premery;
					text-decoration: none;
					border: 1px solid $premery;
				}
				text-align: right;
				color: $premery;
				font-size: 24px;
			}
		}
	}
}
