$premery: rgba(29,193,95,1);
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
// .container-fluid{
//         min-width: 880px !important;
// }
.all-alignment {
	width: 80% !important;
	min-width: 980px !important;
}
.hd {
	margin: 0 -15px !important;
	text-align: center;
	background-color: $premery;
	&-inc {
		width: 100%;
		color: #fff;
		text-align: center;
		&-stips {
			line-height: 30px;
			display: inline-block;
			&-compony,
			&-tel {
				width: 50%;
				display: inline-block;
			}
			&-compony {
				text-align: left;
			}
			&-tel {
				text-align: right;
			}
		}
	}
	&-sider-bar {
		width: 100%;
		background-color: #fff;
		text-align: center;
		border-bottom: 4px solid $premery;
		.menu {
			display: inline-table;
			&-list,
			&-logo {
				// height: 170px;
				display: table-cell;
			}
			&-logo {
				width: 20%;
				margin-bottom: 0;
				width: 16%;
				img {
					width: 80%;
					vertical-align: inherit;
				}
			}
			&-list {
				width: 60%;
				margin-bottom: 0;

				li {
					display: inline-block;
					list-style: none;
					width: 16%;
					a {
						width: 100%;
						padding: 40px 5px;
						display: inline-block;
						list-style: none;
						text-decoration: none;
						&:hover {
							background-color: $premery;
							p {
								color: #fff;
							}
						}
					}
					p:first-child {
						font-weight: 400;
						color: #000;
						font-size: 1.4em;
					}
					p:last-child {
						color: #655;
						font-size: 1em;
					}
				}
			}
		}
	}
}
